<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="sim" class="com.spec.impl.Jio"></bean>
    
    <bean id="airtel" class="com.spec.impl.Airtel"></bean>
    <bean id="jio" class="com.spec.impl.Jio"></bean>
    <bean id="bsnl" class="com.spec.impl.Bsnl"></bean>
    

</beans>